// Colors:
// Primary:
$primary-color: hsl(25, 97%, 53%);

// Neutral:
$neutral-white: hsl(0, 0%, 100%);
$neutral-light-grey: hsl(217, 12%, 63%);
$neutral-medium-grey: #7c8798;
$neutral-dark-grey: #353e4b;
$neutral-dark-blue: #252d37;
$neutral-very-dark-blue: hsl(216, 12%, 8%);