// MOBILE:
@media screen and (max-width: 375px) {
    .body{
        min-height: 100vh;
        position: relative;
        background-color: $neutral-very-dark-blue;
        @include flexbox(flex, column, nowrap, center, center);
        .main{
            max-width: 90%;
            background: linear-gradient(to bottom, hsl(212, 18%, 14%), hsl(220, 16%, 11%));
            border-radius: 1.5rem;
            .div--container{
                padding: 2rem;
                @include flexbox(flex, column, nowrap, space-evenly, stretch);
                gap: 2rem;
                .div--star{
                    img{
                        padding: 1.2rem;
                        background-color: $neutral-dark-grey;
                        border-radius: 50%;
                    }
                }
                .div--title{
                    h1{
                        color: $neutral-white;
                    }
                }
                .div--paragraph{
                    color: $neutral-medium-grey;
                }
                .div--rating{
                    @include flexbox(flex, row, nowrap, space-between, stretch);
                }
            }
            .div--container__thanks{
                @include flexbox(flex, column, nowrap, center, center);
                .div--img__thanks{
                    margin-top: 4.5rem;
                    margin-bottom: 2.8rem;
                }
                .div--title__thanks{
                    margin-bottom: 1.5rem;
                    font-size: 1.8rem;
                    color: $neutral-white;
                }
                .div--paragraph__thanks{
                    margin-bottom: 4.5rem;
                    color: $neutral-medium-grey;
                    text-align: center;
                    max-width: 85%;
                    p{
                        line-height: 2.5rem;
                    }
                }
                .div--rating__thanks{
                    margin-bottom: 3.5rem;
                    color: $primary-color;
                    background-color: $neutral-dark-grey;
                    padding: 0.5rem 2rem 0.5rem 2rem;
                    border-radius: 2rem;
                }
            }
            .show{
                display: block;
            }
            .hide{
                display: none;
            }
        }
    }
}

// DESKTOP:
@media screen and (min-width: 375px) {
    .body{
        min-height: 100vh;
        position: relative;
        background-color: $neutral-very-dark-blue;
        @include flexbox(flex, column, nowrap, center, center);
        .main{
            max-width: 40rem;
            background: linear-gradient(to bottom, hsl(212, 18%, 14%), hsl(220, 16%, 11%));
            border-radius: 2.5rem;
            .div--container{
                padding: 3.5rem;
                @include flexbox(flex, column, nowrap, space-evenly, stretch);
                .div--img{
                    margin-bottom: 2rem;
                    img{
                        padding: 1.2rem;
                        background-color: $neutral-dark-grey;
                        border-radius: 50%;
                    }
                }
                .div--title{
                    margin-bottom: 1rem;
                    h1{
                        color: $neutral-white;
                    }
                }
                .div--paragraph{
                    color: $neutral-medium-grey;
                    margin-bottom: 2rem;
                    p{
                        line-height: 2.5rem;
                    }
                }
                .div--rating{
                    @include flexbox(flex, row, nowrap, space-between, center);
                    margin-bottom: 3rem;
                }
            }
            .div--container__thanks{
                @include flexbox(flex, column, nowrap, center, center);
                .div--img__thanks{
                    margin-top: 4.5rem;
                    margin-bottom: 2.8rem;
                }
                .div--title__thanks{
                    margin-bottom: 1.5rem;
                    font-size: 1.8rem;
                    color: $neutral-white;
                }
                .div--paragraph__thanks{
                    margin-bottom: 4.5rem;
                    color: $neutral-medium-grey;
                    text-align: center;
                    max-width: 85%;
                    p{
                        line-height: 2.5rem;
                    }
                }
                .div--rating__thanks{
                    margin-bottom: 3.5rem;
                    color: $primary-color;
                    background-color: $neutral-dark-grey;
                    padding: 0.5rem 2rem 0.5rem 2rem;
                    border-radius: 2rem;
                }
            }
            .show{
                display: block;
            }
            .hide{
                display: none;
            }
        }
    }
}